<%- include('../partials/sidebar') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />


<div id="loading"></div>
<!-- Button trigger modal -->
 
  

    <div class="row"> 
                    <div class="card-header"> 
                        <h4>Cadastro tipos de documento</h4><br>
                    </div>
    </div>
    <div class="row">
    <div class="col-sm-12">
        <%- include('../lgpd/cadastroGruposDocumento') %>
   </div>
    <div class="col-lg-6">
    </div>
    <div class="col-lg-5">
        <button type="button" class="button-8 mb-2" id="result" style="float: right;">
        <span class="counter-value"></span>
        resultados
        </button>
    </div>
    </div>
    <div class="row mb-3">
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procuraBtn0" onkeyup="procura(0, 'procuraBtn0')"/>
          <label for="procuraBtn0">Id:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procuraBtn1" onkeyup="procura(1, 'procuraBtn1')"/>
          <label for="procuraBtn1">Nome:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procuraBtn2" onkeyup="procura(2, 'procuraBtn2')"/>
          <label for="procuraBtn2">Descrição:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procuraBtn3" onkeyup="procura(3, 'procuraBtn3')"/>
          <label for="procuraBtn3">Validade:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procuraBtn3" onkeyup="procura(3, 'procuraBtn3')"/>
          <label for="procuraBtn3">Setor:</label>
        </div>
      </div>
      <div class="col">
        <div class="form-floating">
          <input type="text" class="form-control" id="procuraBtn3" onkeyup="procura(3, 'procuraBtn3')"/>
          <label for="procuraBtn3">Grupo Segurança:</label>
        </div>
      </div>      
    <div class="table-wrapper table-responsive table-striped mb-4">
      <table class="fl-table" id="myTable">
        <thead>
          <tr style="height: 25px">
            <th>ID</th>
            <th>Nome</th>
            <th>Descrição</th>                      
            <th>Validade</th>
            <th>Setor</th>
            <th>Grupo de Segurança</th>
            <th>Imagem Exemplo</th>
          </tr>
        </thead>
        <tbody>

            
          <%grupos.forEach ((grupo)=>{%>
            <tr>
                <td><%=grupo.id %></td>
                <td><%=grupo.nome %></td>
                <td><%=grupo.descricao %></td>
                <td><%=grupo.validade %></td>
                <td><%=grupo.setor %></td>
                <td><%=grupo.grupo_seguranca %></td>
                <td><%=grupo.img_exemplo %></td>                                                
                <td></td>
            </tr>
          <%})%>
        </tbody>
      </table>
    </div>


<script type="text/javascript" src="/js/carregador.js"></script>
<script type="text/javascript" src="/js/confirmation.js"></script>
<script type="text/javascript" src="/js/procura.js"></script>
<script type="text/javascript" src="/js/carregamodal.js"></script>