<%- include('../partials/sidebar') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />

<style>
.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #555;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover,
.drop-container.drag-active {
  background: #eee;
  border-color: #111;
}

.drop-container:hover .drop-title,
.drop-container.drag-active .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #000000;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type=file]::file-selector-button {
  margin-top: 6%;
  margin-left: 40%;
  border: none;
  background: #396ddd;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}

form{
  resize:both;
}
</style>

<div class="row mt-2">
    <h1>Novo Documento</h1>
</div>
<form action="/ler-pdf" method="post" style="resize:both;" enctype="multipart/form-data">
<div class="row">
  <div class="col d-flex justify-content-start">
    <button type="submit" class="button-8 mb-2" id="enviar" style="display: none; width: 10%;">Enviar</button>
    <button onclick="recarrega()" type="button" class="button-8 mb-2" id="refazer" style="display: none; width: 10%; margin-left: 1%;">Refazer tudo</button>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
      <!-- <label for="images" id="drop-container" class="drop-container mt-2"> -->
          <!-- <span class="drop-title">Arraste o(s) arquivo(s) aqui</span>
          ou -->
          <label for="images" class="btn">Clique no botão "escolher arquivo" ou arraste dentro da área:</label>
          <input style="width: 100%; height: 250px;" type="file" id="images" name="arquivos" multiple>
      <!-- </label> -->
  </div>
</div>
<div id="carouselExampleControls" class="carousel slide" data-bs-interval="false" style="height: 650px;">
  <div class="carousel-inner" style="margin-left: 5%; width: 90%;">
  </div>
  <a style="width: 5%; margin-top: 10%;" class="carousel-control-prev setas" href="#carouselExampleControls" role="button" data-bs-slide="prev">
    <span style="background-image: url('https://www.iconpacks.net/icons/2/free-arrow-left-icon-3099-thumb.png');" class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a style="width: 5%; margin-top: 10%;" class="carousel-control-next setas" href="#carouselExampleControls" role="button" data-bs-slide="next">
    <span style="background-image: url('https://www.iconpacks.net/icons/2/free-arrow-right-icon-3098-thumb.png');" class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</form>

<script>
//////////////////////////////////////////////////////////////
let recarrega = ()=>{
  location.reload();
}

// document.getElementById('drop-container').addEventListener('dragover', e =>{
//   e.preventDefault();
// })

// document.getElementById('drop-container').addEventListener('dragenter', e =>{
//   e.preventDefault();
// })

// //Lógica para adicionar documento arrastando na área

// document.getElementById('drop-container').addEventListener('drop', e =>{
//   e.preventDefault();
//   if (e.dataTransfer.files) {
//     [...e.dataTransfer.files].forEach((item, i) => {
//       //////////////////////////////////////////////////////
//       //Criação da row
//       const row = document.createElement('div')
//       row.classList.add('row', 'rowCarousel')
//       row.setAttribute('style', 'height: 100%;')
//       ///////////////////////////////////////////////////////
//       //Criação da col pdfs
//       const colPdfs = document.createElement('div')
//       colPdfs.classList.add('col', `colPdf`)
//       ////////////////////////////////////////////////////////
//       //Criação da col inputs
//       const colInputs = document.createElement('div')
//       colInputs.classList.add('col', `colInput`)
//       colInputs.style.padding = '17px';
//       ///////////////////////////////////////////////////////
//       //Criação do botão nome
//       let divNome = document.createElement('div');
//       divNome.classList.add('form-floating', 'mb-3');

//       let inputNome = document.createElement('input');
//       inputNome.classList.add('form-control', 'nome');
//       inputNome.setAttribute("id", "name");
//       inputNome.setAttribute("type", "text");
//       inputNome.setAttribute("placeholder", "Nome:");

//       let labelNome = document.createElement('label');
//       labelNome.setAttribute('for', 'name')
//       labelNome.innerText = 'Nome:'

//       divNome.appendChild(inputNome)
//       divNome.appendChild(labelNome)
//       //////////////////////////////////////////////////////
//       //Criação do botão subtitulo
//       let divSub = document.createElement('div');
//       divSub.classList.add('form-floating', 'mb-3');

//       let inputSub = document.createElement('input');
//       inputSub.classList.add('form-control');
//       inputSub.setAttribute("id", "subtitulo");
//       inputSub.setAttribute("type", "text");
//       inputSub.setAttribute("placeholder", "Subtítulo:");

//       let labelSub = document.createElement('label');
//       labelSub.setAttribute('for', 'subtitulo')
//       labelSub.innerText = 'Subtítulo:'

//       divSub.appendChild(inputSub)
//       divSub.appendChild(labelSub)
//       //////////////////////////////////////////////////////
//       //Criação do botão tipo
//       let divTipo = document.createElement('div');
//       divTipo.classList.add('form-floating', 'mb-3');

//       let inputTipo = document.createElement('select');
//       inputTipo.classList.add('form-select');
//       inputTipo.setAttribute("id", "tipo");

//       let opt1 = document.createElement('option');
//       opt1.setAttribute('value', '1');
//       opt1.setAttribute('selected', '');
//       opt1.innerText = '1'

//       let opt2 = document.createElement('option');
//       opt2.setAttribute('value', '2');
//       opt2.innerText = '2'

//       let opt3 = document.createElement('option');
//       opt3.setAttribute('value', '3');
//       opt3.innerText = '3'

//       inputTipo.appendChild(opt1);
//       inputTipo.appendChild(opt2);
//       inputTipo.appendChild(opt3);

//       let labelTipo = document.createElement('label');
//       labelTipo.setAttribute('for', 'tipo')
//       labelTipo.innerText = 'Tipo:'

//       divTipo.appendChild(inputTipo)
//       divTipo.appendChild(labelTipo)
//       //////////////////////////////////////////////////////
//       //Criação do botão obs
//       let divObs = document.createElement('div');
//       divObs.classList.add('form-floating', 'mb-3');

//       let textareaObs = document.createElement('textarea');
//       textareaObs.classList.add('form-control');
//       textareaObs.setAttribute("id", "obs");
//       textareaObs.setAttribute("placeholder", "Observações:");

//       let labelObs = document.createElement('label');
//       labelObs.setAttribute('for', 'obs')
//       labelObs.innerText = 'Observações:'

//       divObs.appendChild(textareaObs)
//       divObs.appendChild(labelObs)
//       //////////////////////////////////////////////////////

//       let carItem = document.createElement('div');
//       if(i == 0){
//         carItem.classList.add('carousel-item');
//         carItem.classList.add('active');
//       } else{
//         carItem.classList.add('carousel-item');
//       }
//       let quadroPdf = document.createElement('embed');
//       quadroPdf.classList.add(`campoPdf${i}`);
//       quadroPdf.style.width = '100%';
//       quadroPdf.style.height = '100%';
//       quadroPdf.src = (URL.createObjectURL(item) + '#toolbar=0&navpanes=0&scrollbar=0');

//       document.getElementsByClassName('row')[2].style.display = 'none';

//       document.getElementsByClassName('carousel-inner')[0].appendChild(carItem);
//       document.getElementsByClassName('carousel-item')[i].appendChild(row);
//       document.getElementsByClassName('rowCarousel')[i].appendChild(colPdfs);
//       document.getElementsByClassName('rowCarousel')[i].appendChild(colInputs);
//       document.getElementsByClassName(`colPdf`)[i].appendChild(quadroPdf);
//       document.getElementsByClassName(`colInput`)[i].appendChild(divNome);
//       document.getElementsByClassName(`colInput`)[i].appendChild(divSub);
//       document.getElementsByClassName(`colInput`)[i].appendChild(divTipo);
//       document.getElementsByClassName(`colInput`)[i].appendChild(divObs);
//       document.getElementsByClassName('colInput')[i].style.color = 'black';
//       document.getElementsByClassName('nome')[i].value = item.name;
//     });

//     for(let i = 0; i < document.getElementsByClassName('setas').length; i++){
//       document.getElementsByClassName('setas')[i].style.display = 'flex'
//     }


// }

// document.getElementsByClassName('button-8')[0].style.display = 'block'
// document.getElementsByClassName('button-8')[1].style.display = 'block'
// })

///////////////////////////////////////////////////////////////////////////////////////////////////////////////

//Lógica para adicionar documento clicando no botão

images.onchange = ev => {

    if (images.files) {
    [...images.files].forEach((item, i) => {
      //////////////////////////////////////////////////////
      //Criação da row
      const row = document.createElement('div')
      row.classList.add('row', 'rowCarousel')
      row.setAttribute('style', 'height: 100%;')
      ///////////////////////////////////////////////////////
      //Criação da col pdfs
      const colPdfs = document.createElement('div')
      colPdfs.classList.add('col', `colPdf`)
      ////////////////////////////////////////////////////////
      //Criação da col inputs
      const colInputs = document.createElement('div')
      colInputs.classList.add('col', `colInput`)
      colInputs.style.padding = '17px';
      ///////////////////////////////////////////////////////
      //Criação do botão nome
      let divNome = document.createElement('div');
      divNome.classList.add('form-floating', 'mb-3');

      let inputNome = document.createElement('input');
      inputNome.classList.add('form-control', 'nome');
      inputNome.setAttribute("id", "name");
      inputNome.setAttribute("type", "text");
      inputNome.setAttribute("placeholder", "Nome:");
      inputNome.setAttribute("name", `input_nome`);

      let labelNome = document.createElement('label');
      labelNome.setAttribute('for', 'name')
      labelNome.innerText = 'Nome:'

      divNome.appendChild(inputNome)
      divNome.appendChild(labelNome)
      //////////////////////////////////////////////////////
      //Criação do botão subtitulo
      let divSub = document.createElement('div');
      divSub.classList.add('form-floating', 'mb-3');

      let inputSub = document.createElement('input');
      inputSub.classList.add('form-control');
      inputSub.setAttribute("id", "subtitulo");
      inputSub.setAttribute("type", "text");
      inputSub.setAttribute("placeholder", "Subtítulo:");
      inputSub.setAttribute("name", `input_subtitulo`);

      let labelSub = document.createElement('label');
      labelSub.setAttribute('for', 'subtitulo')
      labelSub.innerText = 'Subtítulo:'

      divSub.appendChild(inputSub)
      divSub.appendChild(labelSub)
      //////////////////////////////////////////////////////
      //Criação do botão tipo
      let divTipo = document.createElement('div');
      divTipo.classList.add('form-floating', 'mb-3');

      let inputTipo = document.createElement('select');
      inputTipo.classList.add('form-select');
      inputTipo.setAttribute("id", "tipo");
      inputTipo.setAttribute("name", `input_tipo`);

      let opt = document.createElement('option');
      let labelTipo = document.createElement('label');

      <%tipos.forEach(element =>{%>
      let <%=element.nome%> = document.createElement('option');
      <%=element.nome%>.setAttribute('value', "<%=element.id%>");
      <%=element.nome%>.innerText = "<%=element.nome%>"
      inputTipo.appendChild(<%=element.nome%>);

      labelTipo.setAttribute('for', 'tipo')
      labelTipo.innerText = 'Tipo:'
      
      <%})%>

      divTipo.appendChild(inputTipo)
      divTipo.appendChild(labelTipo)
      //////////////////////////////////////////////////////
      //Criação do botão obs
      let divObs = document.createElement('div');
      divObs.classList.add('form-floating', 'mb-3');

      let textareaObs = document.createElement('textarea');
      textareaObs.classList.add('form-control');
      textareaObs.setAttribute("id", "obs");
      textareaObs.setAttribute("placeholder", "Observações:");
      textareaObs.setAttribute("name", `input_obs`);

      let labelObs = document.createElement('label');
      labelObs.setAttribute('for', 'obs')
      labelObs.innerText = 'Observações:'

      divObs.appendChild(textareaObs)
      divObs.appendChild(labelObs)
      //////////////////////////////////////////////////////

      let carItem = document.createElement('div');
      if(i == 0){
        carItem.classList.add('carousel-item');
        carItem.classList.add('active');
      } else{
        carItem.classList.add('carousel-item');
      }
      let quadroPdf = document.createElement('embed');
      quadroPdf.classList.add(`campoPdf${i}`);
      quadroPdf.style.width = '100%';
      quadroPdf.style.height = '100%';
      quadroPdf.src = (URL.createObjectURL(item) + '#toolbar=0&navpanes=0&scrollbar=0');

      document.getElementsByClassName('row')[2].style.display = 'none';

      document.getElementsByClassName('carousel-inner')[0].appendChild(carItem);
      document.getElementsByClassName('carousel-item')[i].appendChild(row);
      document.getElementsByClassName('rowCarousel')[i].appendChild(colPdfs);
      document.getElementsByClassName('rowCarousel')[i].appendChild(colInputs);
      document.getElementsByClassName(`colPdf`)[i].appendChild(quadroPdf);
      document.getElementsByClassName(`colInput`)[i].appendChild(divNome);
      document.getElementsByClassName(`colInput`)[i].appendChild(divSub);
      document.getElementsByClassName(`colInput`)[i].appendChild(divTipo);
      document.getElementsByClassName(`colInput`)[i].appendChild(divObs);
      document.getElementsByClassName('colInput')[i].style.color = 'black';
      document.getElementsByClassName('nome')[i].value = item.name;
    });
  // const formData = new FormData();
  //   formData.append('pdfFile', pdfFile.files[0])

  //   const formatada = `${pdfFile.files[0].name}`.replace('.PDF', '')

  //   resultText.value = formatada

  //   // fetch('/lgpd/ler-pdf', {
  //   //     method: "post",
  //   //     body: formData
  //   // }).then(response => {
  //   //     return response.text()
  //   // }).then(extractedText =>{
  //   //     resultText.value = extractedText
  //   // })
}

for(let i = 0; i < document.getElementsByClassName('setas').length; i++){
  document.getElementsByClassName('setas')[i].style.display = 'flex'
}

document.getElementsByClassName('button-8')[0].style.display = 'block'
document.getElementsByClassName('button-8')[1].style.display = 'block'
}

for(let i = 0; i < document.getElementsByClassName('setas').length; i++){
  document.getElementsByClassName('setas')[i].style.display = 'none'
}
</script>

<script type="text/javascript">
  document.getElementById("enviar").addEventListener("click", ()=>{
      document.getElementById("enviar").style.display = "none";
      document.getElementById("refazer").style.display = "none";
  })
</script>