<%- include('../partials/sidebar') %>
<link rel="stylesheet" href="/css/table.css" />
<link rel="stylesheet" href="/css/button8.css" />
<link rel="stylesheet" href="/css/loading.css" />

<style>
    img{
      width: 60%;
    }
</style>

<body>
        <div class="row mt-2">
            <div class="col"><img src="https://www.fibracem.com/wp-content/uploads/2020/11/LOGO-FIBRACEM-5.png" alt=""></div>
            <div class="col">
                <h3 class="mt-4">Controle de Retrabalho/Reprocesso</h3>
            </div>
            <div class="col">
                <div class="row" style="float: right;">
                    <div class="col">
                      <div class="form-floating">
                        <input type="text" class="form-control" id="tipo_doc" value="<%=doc.tipo_doc%>" name="tipo_doc" readonly>
                        <label for="tipo_doc">Documento:</label>
                      </div>
                        <%const currentDate = new Date(doc.data);%>
                        Data: <%=currentDate.getDate() + 1%> / <%=currentDate.getMonth() + 1%> / <%=currentDate.getFullYear()%>
                        <br>
                        Rev: 01
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3" style="text-align: center;"><h3 style="font-size: 25px;">Qualidade:</h3></div>

        <div class="row">
          <div class="col">
            <div class="form-floating">
              <input type="date" class="form-control" id="data" value="<%=doc.data%>" name="data" readonly>
              <label for="data">Data:</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <select class="form-select" id="inspetor" aria-label="Floating label select example" name="inspetor">
                <option selected value="<%=doc.inspetor%>" disabled><%=doc.inspetor%></option>
              </select>
              <label for="inspetor">Inspetor</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" id="cod_prod" name="cod_prod" placeholder="Código do Produto:" value="<%=doc.cod_prod%>" readonly>
              <label for="cod_prod">Código do Produto:</label>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-floating">
              <textarea class="form-control" name="descri" placeholder="Descrição:" id="descri" style="height: 58px" readonly>
                <%=doc.descri%>
              </textarea>
              <label for="descri">Descrição:</label>
            </div>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" id="lote_odf" name="lote_odf" placeholder="Lote/ODF:" value="<%=doc.lote_odf%>" readonly>
              <label for="lote_odf">Lote/ODF:</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" id="lance" name="lance" placeholder="Lance:" value="<%=doc.lance%>" readonly>
              <label for="lance">Lance:</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" value="<%=doc.quantidade_metragem%>" id="quantidade_metragem" name="quantidade_metragem" placeholder="Quantidade/Metragem:" readonly>
              <label for="quantidade_metragem">Quantidade/Metragem:</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating">
              <input type="text" class="form-control" id="cpnc_numero" name="cpnc_numero" placeholder="CPNC/Número:" value="<%=doc.cpnc_numero%>" readonly>
              <label for="cpnc_numero">CPNC/Número:</label>
            </div>
          </div>
        </div>

          <div class="row mt-2">
            <div class="col">
              <div class="form-floating">
                <textarea class="form-control" name="motivo_nc" placeholder="Motivo da NC:" id="motivo_nc" style="height: 58px" readonly>
                  <%=doc.motivo_nc%>
                </textarea>
                <label for="motivo_nc">Motivo da NC:</label>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <h3 style="text-align: center;">Engenharia de Processos</h3>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-floating">
                <input type="text" class="form-control" id="tempo_previsto" name="tempo_previsto" placeholder="Tempo Previsto:" value="<%=doc.tempo_previsto%>" readonly>
                <label for="tempo_previsto">Tempo Previsto:</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <select class="form-select" id="edp_responsavel" aria-label="Floating label select example" name="edp_responsavel">
                    <option selected value="<%=doc.edp_responsavel%>" disabled><%=doc.edp_responsavel%></option>
                </select>
                <label for="edp_responsavel">Responsável:</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input type="date" class="form-control" id="edp_data" name="edp_data" placeholder="Tempo Previsto:" value="<%=doc.edp_data%>"readonly>
                <label for="edp_data">Data:</label>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <div class="form-floating">
                <input type="text" class="form-control" id="instrucao_reprocesso" name="instrucao_reprocesso" placeholder="Instrução Reprocesso:" value="<%=doc.instrucao_reprocesso%>" readonly>
                <label for="instrucao_reprocesso">Instrução Reprocesso:</label>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <h3 style="text-align: center;">PCP</h3>
            </div>
          </div>

          <div class="row mt-1">
            <div class="col">
              <div class="form-floating">
                <input type="text" class="form-control" id="pcp_odf_retrabalho" name="pcp_odf_retrabalho" placeholder="ODF Retrabalho:" value="<%=doc.pcp_odf_retrabalho%>" readonly>
                <label for="pcp_odf_retrabalho">ODF Retrabalho:</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <select class="form-select" id="pcp_responsavel" aria-label="Floating label select example" name="pcp_responsavel">
                    <option selected value="<%=doc.pcp_responsavel%>" disable><%=doc.pcp_responsavel%></option>
                </select>
                <label for="pcp_responsavel">Responsável:</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input type="date" class="form-control" id="pcp_data" name="pcp_data" placeholder="Data:" value="<%=doc.pcp_data%>" readonly>
                <label for="pcp_data">Data:</label>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <div class="form-floating">
                <input type="text" class="form-control" id="pcp_obs" name="pcp_obs" placeholder="Observações do PCP:" value="<%=doc.pcp_obs%>" readonly>
                <label for="pcp_obs">Observações do pcp:</label>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <h3 style="text-align: center;">Produção</h3>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <div class="form-floating">
                <input type="text" class="form-control" id="prod_tempo_realizado" name="prod_tempo_realizado" placeholder="Tempo Realizado:" value="<%=doc.prod_tempo_realizado%>" readonly>
                <label for="prod_tempo_realizado">Tempo Realizado:</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input type="text" class="form-control" id="prod_insumos" name="prod_insumos" placeholder="Insumos:" value="<%=doc.prod_insumos%>" readonly>
                <label for="prod_insumos">Insumos:</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input type="text" class="form-control" id="prod_sucata" name="prod_sucata" placeholder="Sucata:" value="<%=doc.prod_sucata%>" readonly>
                <label for="prod_sucata">Sucata:</label>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <div class="form-floating">
                <select class="form-select" id="prod_responsavel" aria-label="Floating label select example" name="prod_responsavel">
                  <option selected value="<%=doc.prod_responsavel%>" disabled><%=doc.prod_responsavel%></option>
                </select>
                <label for="prod_responsavel">Responsável:</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input type="date" class="form-control" id="prod_data" name="prod_data" placeholder="Data:" value="<%=doc.prod_data%>" readonly>
                <label for="prod_data">Data:</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <select class="form-select" id="prod_status" aria-label="Floating label select example" name="prod_status">
                  <option selected value="<%=doc.prod_status%>" disabled><%=doc.prod_status%></option>
                </select>
                <label for="prod_status">Status:</label>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <div class="form-floating">
                <textarea class="form-control" name="prod_obs" placeholder="Observações da Produção:" id="prod_obs" style="height: 58px" readonly>
                  <%=doc.prod_obs%>
                </textarea>
                <label for="prod_obs">Observações da Produção:</label>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col">
              <h3 style="text-align: center;">Qualidade</h3>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col">
              <div class="form-floating">
                <input type="text" class="form-control" id="quali_responsavel" name="quali_responsavel" placeholder="Responsável:" value="<%=doc.quali_responsavel%>" readonly>
                <label for="quali_responsavel">Responsável:</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input type="date" class="form-control" id="quali_data" name="quali_data" placeholder="Data:" value="<%=doc.quali_data%>" readonly>
                <label for="quali_data">Data:</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <select class="form-select" id="quali_status" aria-label="Floating label select example" name="quali_status">
                  <option selected value="<%=doc.quali_status%>" disabled><%=doc.quali_status%></option>
                </select>
                <label for="quali_status">Status:</label>
              </div>
            </div>
          </div>
          <div class="row mt-2 mb-5">
            <div class="col">
              <div class="form-floating">
                <textarea class="form-control" name="quali_parecer" placeholder="Parecer da Qualidade:" id="quali_parecer" style="height: 58px" readonly>
                  <%=doc.quali_parecer%>
                </textarea>
                <label for="quali_parecer">Parecer da Qualidade:</label>
              </div>
            </div>
          </div>
</body>

<script text="text/javascript">
</script>


<script type="text/javascript" src="/js/carregador.js"></script>
<script type="text/javascript" src="/js/confirmation.js"></script>
<script type="text/javascript" src="/js/procura.js"></script>